body {
    background: #eef6ff;
    font-family: Arial, sans-serif;
}

.page-header {
    background: linear-gradient(135deg, #0d6efd, #084298);
    color: white;
    padding: 30px;
    border-radius: 16px;
    margin-bottom: 25px;
    box-shadow: 0 8px 20px rgba(13, 110, 253, 0.25);
}

.card-custom {
    border: none;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.description-box {
    min-height: 430px;
    background: white;
    border-left: 6px solid #0d6efd;
}

.form-box {
    background: white;
}

.table thead {
    background: #0d6efd;
    color: white;
}

.btn-blue {
    background: #0d6efd;
    color: white;
    border: none;
}

.btn-blue:hover {
    background: #084298;
    color: white;
}

.completed {
    text-decoration: line-through;
    color: #6c757d;
}

.badge-blue {
    background: #dbeafe;
    color: #084298;
}